from datetime import datetime
import typing
import enum

import pydantic


class _{{metadata.serviceId}}Base(pydantic.BaseModel, frozen=True, use_enum_values=True, allow_population_by_field_name=True):
    def dict(self, by_alias=True, **kwargs) -> dict:
        return super().dict(by_alias=True, **kwargs)